<div class="mt-5 row d-flex justify-content-center">
  <mat-card class="col-11 col-sm-7 col-md-5">
    <mat-spinner *ngIf="isLoading"></mat-spinner>

    <mat-card-header class="row text-center m-2">
      <mat-card-title> Chnage password</mat-card-title>
    </mat-card-header>

    <form [formGroup]="passForm" (ngSubmit)="onSubmit()" *ngIf="!isLoading">
      <mat-form-field class="matCard">
        <input
          [type]="hide ? 'password' : 'text'"
          matInput
          formControlName="current_password"
          name="old password"
          placeholder="Enter current password "
        />
        <button type="button" mat-icon-button matSuffix (click)="hide = !hide">
          <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
        </button>
      </mat-form-field>
      <mat-form-field class="matCard">
        <input
          [type]="hide ? 'password' : 'text'"
          matInput
          formControlName="new_password"
          name="password1"
          placeholder="Enter new  password "
        />
        <button type="button" mat-icon-button matSuffix (click)="hide = !hide">
          <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
        </button>
      </mat-form-field>

      <br />
      <mat-form-field class="matCard">
        <input
          [type]="hide ? 'password' : 'text'"
          matInput
          formControlName="re_new_password"
          name="password2"
          placeholder="Renter new password "
        />
        <button type="button" mat-icon-button matSuffix (click)="hide = !hide">
          <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
        </button>
      </mat-form-field>

      <br />

      <div class="mt-2 d-flex justify-content-between">
        <button
          type="button"
          mat-stroked-button
          color="accent"
          mat-
          [routerLink]="['/']"
          routerLinkActive="router-link-active"
        >
          Cancel
        </button>
        <button
          type="submit"
          color="primary"
          class=""
          mat-stroked-button
          (clik)="onSubmit()"
        >
          Submit
        </button>
      </div>
    </form>
  </mat-card>
</div>

<!-- <app-list></app-list> -->
